@charset "utf-8";

/* CSS Document */

/* CSS DocumentProject: Covanta Website
----------------------------------------------------------------------------------------------------------*/

/*------------------Layout,Table of Contents-----------------------------------------------------------------
1. BASIC STYLING FOR COMMON HTML ELEMENTS
2. TYPOS
3. COMMON CSS CLASSES
4. SKELITON
5. HEADER SECTION
6. BODY SECTION
7. FOOTER SECTION
8. MEDIA QUERIES
-----------------------------------------------------------------------------------------------------------*/

/*................................................
    1. BASIC STYLING FOR COMMON HTML ELEMENTS
.................................................*/
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Manrope", Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
body {
  font-size: 16px;
  font-size: 1.6rem;
  color: #32425f;
  line-height: 2.4rem;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

/*html {
  /*font-size: 100%; /* 1 */
/*-webkit-text-size-adjust: 100%; /* 2 */
/* -ms-text-size-adjust: 100%;  2 */
/*} */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  /*box-sizing: border-box;  1 */
  /*  padding: 0;  2 */
  /*height: 13px;  3 */
  /*width: 13px;  3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #32425f;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border: 0;
  border-radius: 0;
  border: 1px solid #000;
  padding: 10px;
  width: 100%;
  color: #000;
  font-size: 1.4rem;
}
button {
  text-transform: uppercase;
  color: #000;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 33px;
  padding-right: 33px;
}
/*Variables*/
:root {
  --header-color: rgba(0, 0, 0, 0.10980392156862745);
  --footer-color: rgba(0, 0, 0, 0.9);
}
a:hover,
a {
  outline: none;
  text-decoration: none;
}
/*................................................
    2. TYPOS
.................................................*/

@font-face {
  font-family: "Manrope-SemiBold";
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"),
    url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope-Medium";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"),
    url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"),
    url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*................................................
    3. COMMON CSS CLASSES
.................................................*/
.switch {
  font-size: 1rem;
  position: relative;
}
.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}
.switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * 0.8) * 2);
  border-radius: calc(2.375rem * 0.8);
  height: calc(2.375rem * 0.8);
  line-height: calc(2.375rem * 0.8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * 0.8) * 2) + 0.5rem);
}
.switch input + label::before,
.switch input + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375rem * 0.8) * 2);
  bottom: 0;
  display: block;
}
.switch input + label::before {
  right: 0;
  background-color: #ffffff;
  border: solid 1px #a1b5d8;
  border-radius: calc(2.375rem * 0.8);
  transition: 0.2s all;
}
.switch input + label::after {
  top: 5px;
  left: 5px;
  width: calc(calc(2.375rem * 0.8) - calc(2px * 2));
  height: calc(calc(2.375rem * 0.8) - calc(2px * 2));
  border-radius: 50%;
  border: solid 0.5px rgba(0, 0, 0, 0.04);
  background-color: #a1b5d8;
  transition: 0.2s all;
}
.switch input:checked + label::before {
  background-color: #31c91e;
  border: none;
}
.switch input:checked + label::after {
  margin-left: calc(2.375rem * 0.8);
}
/* .switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
} */
.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}
.switch input:disabled + label::before {
  background-color: #e9ecef;
}
.switch.switch-lg {
  font-size: 1.25rem;
}
.switch.switch-lg input + label {
  min-width: calc(calc(3rem * 0.8) * 2);
  height: calc(3.8rem * 0.8);
  line-height: calc(3rem * 0.8);
  text-indent: calc(calc(calc(3rem * 0.8) * 2) + 0.5rem);
}
.switch.switch-lg input + label::before {
  width: calc(calc(3rem * 0.8) * 2);
}
.switch.switch-lg input + label::after {
  width: calc(calc(3rem * 0.8) - calc(2px * 2));
  height: calc(calc(3rem * 0.8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
  margin-left: calc(2rem * 0.8);
  background-color: #ffffff;
  border: none;
}
.switch + .switch {
  margin-left: 1rem;
}

.tab-filter-info .switch input + label::after {
  background-color: #ffffff;
}

.tab-filter-info .switch input:checked + label::before {
  background-color: #31c91e;
  border: none;
}
.txt-primary {
  color: #32425f;
}
.txt-secondary {
  color: #66788d;
}
/*icons*/
.ico-clock {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%2366788D' fill-opacity='.556' fill-rule='nonzero' d='M12 3c4.97 0 9 4.03 9 9s-4.03 9-9 9-9-4.03-9-9 4.03-9 9-9zm0 1.385c-4.206 0-7.615 3.41-7.615 7.615 0 4.206 3.41 7.615 7.615 7.615 4.206 0 7.615-3.41 7.615-7.615 0-4.206-3.41-7.615-7.615-7.615zm0 3.046c.382 0 .692.31.692.693v4.512l2.249 2.249c.27.27.27.708 0 .979-.27.27-.709.27-.98 0l-2.45-2.451c-.13-.13-.203-.306-.203-.49v-4.8c0-.382.31-.692.692-.692z' transform='translate(-36 -594) translate(16 507) translate(20 87)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%2366788D' fill-opacity='.556' fill-rule='nonzero' d='M12 3c4.97 0 9 4.03 9 9s-4.03 9-9 9-9-4.03-9-9 4.03-9 9-9zm0 1.385c-4.206 0-7.615 3.41-7.615 7.615 0 4.206 3.41 7.615 7.615 7.615 4.206 0 7.615-3.41 7.615-7.615 0-4.206-3.41-7.615-7.615-7.615zm0 3.046c.382 0 .692.31.692.693v4.512l2.249 2.249c.27.27.27.708 0 .979-.27.27-.709.27-.98 0l-2.45-2.451c-.13-.13-.203-.306-.203-.49v-4.8c0-.382.31-.692.692-.692z' transform='translate(-36 -594) translate(16 507) translate(20 87)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  background-repeat: no-repeat;
  background-position: center;
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
}
.ico-week {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23A1B5D8' fill-rule='nonzero' d='M17.657 3c.39 0 .713.29.765.667l.007.104V5.07C19.87 5.199 21 6.41 21 7.886V18.17C21 19.734 19.734 21 18.171 21H5.83C4.266 21 3 19.734 3 18.171V7.886C3 6.41 4.13 5.199 5.571 5.069V3.77c0-.426.346-.771.772-.771.39 0 .713.29.764.667l.007.104v1.286h4.114V3.771c0-.39.29-.713.667-.764L12 3c.39 0 .713.29.764.667l.007.104v1.286h4.114V3.771c0-.39.29-.713.667-.764L17.657 3zM6.337 6.6h-.508c-.71 0-1.286.576-1.286 1.286V18.17c0 .71.575 1.286 1.286 1.286H18.17c.71 0 1.286-.575 1.286-1.286V7.886c0-.71-.575-1.286-1.286-1.286l-.501-.001-.013.001h-.006l-5.638-.001L12 6.6h-.007l-5.638-.001-.012.001h-.007zM12 12c.568 0 1.029.46 1.029 1.029 0 .568-.46 1.028-1.029 1.028-.568 0-1.029-.46-1.029-1.028 0-.568.46-1.029 1.029-1.029zm4.114 0c.568 0 1.029.46 1.029 1.029 0 .568-.46 1.028-1.029 1.028-.568 0-1.028-.46-1.028-1.028 0-.568.46-1.029 1.028-1.029zm-8.228 0c.568 0 1.028.46 1.028 1.029 0 .568-.46 1.028-1.028 1.028-.568 0-1.029-.46-1.029-1.028 0-.568.46-1.029 1.029-1.029z' transform='translate(-386 -51) translate(386 51)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
}
.ico-day {
  background-image: url("../images/day-icn.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
}
.ico-night {
  background-image: url("../images/night-icn.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
}
.icon-delete {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg transform='translate(-16 -330) translate(16 166) translate(0 49) translate(0 115)'%3E%3Crect width='29.2' height='29.2' x='.4' y='.4' fill='%23FFF' fill-rule='nonzero' stroke='%23E0E6E9' stroke-width='.8' rx='6'/%3E%3Cpath fill='%23E63434' d='M14.75 7.5c-.414 0-.75.336-.75.75V9h3v-.75c0-.414-.336-.75-.75-.75h-1.5zM18.5 9v-.75C18.5 7.007 17.493 6 16.25 6h-1.5c-1.243 0-2.25 1.007-2.25 2.25V9H8.75c-.414 0-.75.336-.75.75s.336.75.75.75h.079l1.277 11.498c.127 1.14 1.09 2.002 2.236 2.002h6.315c1.147 0 2.11-.862 2.236-2.002L22.171 10.5h.079c.414 0 .75-.336.75-.75S22.664 9 22.25 9H18.5zm2.162 1.5H10.338l1.259 11.332c.043.38.364.668.745.668h6.315c.382 0 .703-.287.746-.668l1.26-11.332zM14 12.75c.414 0 .75.336.75.75v6c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-6c0-.414.336-.75.75-.75zm3 0c.414 0 .75.336.75.75v6c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-6c0-.414.336-.75.75-.75z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  cursor: pointer;
}
.next-day,
.prev-day {
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  cursor: pointer;
  color: transparent;
  outline: none;
}
.prev-day {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg transform='translate(-16 -128) translate(16 128) matrix(-1 0 0 1 24 0)'%3E%3Crect width='23.2' height='23.2' x='.4' y='.4' fill='%23FFF' fill-rule='nonzero' stroke='%23E0E6E9' stroke-width='.8' rx='4'/%3E%3Cpath stroke='%230073C6' stroke-linejoin='round' stroke-width='1.6' d='M8.23 9.63L12.292 13.17 16.23 9.63' transform='matrix(0 1 1 0 .83 -.83)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  cursor: pointer;
  color: transparent;
  outline: none;
}
.next-day {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg transform='translate(-280 -128) translate(16 128) translate(264)'%3E%3Crect width='23.2' height='23.2' x='.4' y='.4' fill='%23FFF' fill-rule='nonzero' stroke='%23E0E6E9' stroke-width='.8' rx='4'/%3E%3Cpath stroke='%230073C6' stroke-linejoin='round' stroke-width='1.6' d='M8.37 9.63L12.433 13.17 16.37 9.63' transform='matrix(0 1 1 0 .97 -.97)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.ico-plus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230073C6' fill-rule='nonzero'%3E%3Cg%3E%3Cg%3E%3Cpath d='M17.75 12c.414 0 .75.336.75.75V17h4.25c.38 0 .693.282.743.648l.007.102c0 .414-.336.75-.75.75h-4.251l.001 4.25c0 .38-.282.693-.648.743l-.102.007c-.414 0-.75-.336-.75-.75l-.001-4.25H12.75c-.38 0-.693-.282-.743-.648L12 17.75c0-.414.336-.75.75-.75H17v-4.25c0-.38.282-.693.648-.743z' transform='translate(-211 -239) translate(16 205) translate(183 22)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 1.2rem;
  height: 1.2rem;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
/*Button styles*/
.btn-time {
  width: 100%;
  padding: 1.2rem 1rem;
  font: 1.4rem Manrope-Semibold;
  text-align: center;
  text-transform: none;
  border-radius: 8px;
}
.btn-time:hover {
  color: #fff;
}
.btn-time-secondary {
  background-color: rgba(33, 121, 235, 0.13);
  color: #0073c6;
}
.btn-time-primary {
  background-color: #0073c6;
  color: #fff;
}
.btn-time-add .ico-plus {
  margin-right: 1.2rem;
  vertical-align: middle;
  margin-top: -3px;
}
.btn-time-add {
  background-color: #fff;
  color: #0073c6;
  max-width: 9rem;
  padding: 0.7rem 1.2rem;
  border-radius: 4px;
  text-align: left;
}
.btn-time-add:hover {
  color: #0073c6;
}
/*datepicker*/
.week-picker {
  border: 0;
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23F7F9FC' d='M0 0H24V24H0z' transform='translate(-264 -50) translate(264 50)'/%3E%3Cpath fill='%230073C6' fill-rule='nonzero' d='M17.657 3c.426 0 .772.345.772.771V5.07C19.87 5.199 21 6.41 21 7.886V18.17C21 19.734 19.734 21 18.171 21H5.83C4.266 21 3 19.734 3 18.171V7.886C3 6.41 4.13 5.199 5.571 5.069V3.77c0-.426.346-.771.772-.771.426 0 .771.345.771.771v1.286h4.114V3.771c0-.39.29-.713.667-.764L12 3c.426 0 .771.345.771.771v1.286h4.114V3.771c0-.39.29-.713.667-.764zm1.8 8.228H4.542v6.943c0 .71.576 1.286 1.287 1.286H18.17c.71 0 1.286-.575 1.286-1.286v-6.943zM11.987 6.6l-5.632-.001-.012.001h-.514c-.71 0-1.286.576-1.286 1.286l-.001 1.799h14.915v-1.8c0-.71-.575-1.285-1.286-1.285l-.501-.001-.013.001h-.013l-5.631-.001L12 6.6h-.013z' transform='translate(-264 -50) translate(264 50)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 3rem 0;
  font: 1.4rem Manrope-Medium;
  letter-spacing: 0.23px;
  color: #32425f;
  text-align: center;
  text-indent: 4rem;
}
.inactive {
  pointer-events: none;
}
.inactive.select::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cg fill='none' fill-rule='evenodd' stroke-linejoin='round'%3E%3Cg stroke='%23B4C3D3' stroke-width='2'%3E%3Cg%3E%3Cpath d='M311 22L315.063 25.541 319 22' transform='translate(-326 -109) translate(16 88)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.txt-act-hrs {
  color: #32425f;
  font-size: 1.4rem;
  letter-spacing: 0.2px;
}
.txt-hrs-contract {
  color: #8999b5;
  font-size: 1.4rem;
}
/*Disabled area*/
.disabled-area,
.disabled-area .prev-day,
.disabled-area .next-day,
.disabled-area.week-picker-contactor
  div#ui-datepicker-div
  .ui-datepicker-header,
.disabled-area.week-picker-contactor
  div#ui-datepicker-div
  .ui-datepicker-calendar {
  pointer-events: none;
}
.disabled-area.week-picker-contactor {
  pointer-events: unset;
}
.disabled-area .select::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cg fill='none' fill-rule='evenodd' stroke-linejoin='round'%3E%3Cg stroke='%238999B5' stroke-width='1.6'%3E%3Cg%3E%3Cg%3E%3Cpath d='M8 10L12.063 13.541 16 10' transform='translate(-271 -157) translate(16 136) translate(248 12)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.disabled-area .prev-day {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg transform='translate(-16 -128) translate(16 128) matrix(-1 0 0 1 24 0)'%3E%3Crect width='23.2' height='23.2' x='.4' y='.4' fill='%23FFF' fill-rule='nonzero' stroke='%23E0E6E9' stroke-width='.8' rx='4'/%3E%3Cpath stroke='%238999B5' stroke-linejoin='round' stroke-width='1.6' d='M8.23 9.63L12.292 13.17 16.23 9.63' transform='matrix(0 1 1 0 .83 -.83)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.disabled-area .next-day {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg transform='translate(-280 -128) translate(16 128) translate(264)'%3E%3Crect width='23.2' height='23.2' x='.4' y='.4' fill='%23FFF' fill-rule='nonzero' stroke='%23E0E6E9' stroke-width='.8' rx='4'/%3E%3Cpath stroke='%238999B5' stroke-linejoin='round' stroke-width='1.6' d='M8.37 9.63L12.433 13.17 16.37 9.63' transform='matrix(0 1 1 0 .97 -.97)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
/*................................................
    4. SKELITON
.................................................*/
.main-container,
body {
  background-color: #f6f7fb;
}
#header,
.tab-header {
  background: #fff;
}
/*................................................
    5. HEADER SECTION
.................................................*/

.logo {
  margin-right: 1.2rem;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#header h1 a {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.26;
  color: #0073c6;
  font: 1.6rem "Manrope-Medium";
}
.profile-setting {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%230073C6' fill-rule='nonzero' d='M12 3c4.97 0 9 4.03 9 9s-4.03 9-9 9-9-4.03-9-9 4.03-9 9-9zm0 5.077c-1.374 0-2.538 1.125-2.538 2.692 0 .912.295 1.506.923 2.1.226.187.402.403.527.641.252.477.28.97.183 1.42-.02.091-.042.164-.042.156-.218.81-.782 1.157-2.019 1.58l-.411.139c-.16.054-.285.098-.404.142-.587.216-1.008.437-1.312.713 1.35 1.216 3.135 1.955 5.093 1.955 1.958 0 3.743-.738 5.092-1.952-.302-.27-.72-.483-1.314-.696-.103-.037-.211-.075-.348-.12l-.356-.12c-1.288-.435-1.868-.786-2.118-1.608-.015-.05-.034-.119-.05-.207-.078-.41-.06-.853.127-1.29.122-.284.31-.539.543-.734.66-.596.962-1.206.962-2.119 0-1.54-1.181-2.692-2.538-2.692zm0-3.692c-4.206 0-7.615 3.41-7.615 7.615 0 1.748.588 3.358 1.578 4.643.453-.415 1.03-.72 1.777-.995.132-.05.268-.097.438-.154l.409-.138c.797-.273 1.08-.447 1.148-.69l.007-.03c.034-.159.024-.331-.054-.48-.04-.077-.1-.15-.22-.25-.921-.869-1.391-1.813-1.391-3.137 0-2.342 1.795-4.077 3.923-4.077 2.114 0 3.923 1.765 3.923 4.077 0 1.328-.482 2.3-1.439 3.164-.085.071-.141.148-.178.235-.063.147-.07.324-.04.486l.012.051c.07.234.376.42 1.238.71l.355.119c.146.049.262.09.376.13.76.273 1.337.57 1.789.98.99-1.285 1.58-2.896 1.58-4.644 0-4.206-3.41-7.615-7.616-7.615z' transform='translate(-280 -20) translate(16 20) translate(264)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: 24px;
  display: inline-block;
  outline: none;
}
#header .profile-setting:after {
  display: none;
}
#header .container-fluid {
  padding-bottom: 0;
  align-items: center;
}
#header .container-fluid.d-flex {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
#header .container-fluid .navbar {
  padding: 0;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.help-btn {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: rgba(0, 115, 198, 0.15);
  border-radius: 50%;
  margin-top: 2px;
}

.ico-help {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewBox='0 0 8 12'%3E%3Cg fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg stroke='%230073C6' stroke-width='1.6'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M0 2.005C.485.625 1.895-.204 3.337.043 4.78.291 5.832 1.542 5.83 3.005c0 1.48-1.909 2.028-2.498 2.798-.246.32-.332.816-.332.816M2.91 10.005L2.92 10.005' transform='translate(-145 -56) translate(137 50) translate(2 2) translate(7 5)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  height: 2rem;
  width: 100%;
}
#header .dropdown-item {
  font-size: 1.4rem;
}
.menu-selection button {
  border: 0;
  background: transparent;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.26;
  color: #0073c6;
  font: 1.6rem "Manrope-Medium";
  text-transform: none;
  outline: none;
}
.menu-selection button:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cg fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg stroke='%230073C6' stroke-width='1.6'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M8 10L12.063 13.541 16 10' transform='translate(-104 -29) translate(16 20) translate(81)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 1.1rem;
  display: inline-block;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  width: 2rem;
  background-size: 1rem;
  margin-left: 0.8rem;
}
.menu-selection li {
  cursor: pointer;
  font: 1.6rem "Manrope-Medium";
  color: #32425f;
  padding: 10px;
  border: 1px solid #e2e8f1;
}
.menu-selection li:first-child {
  border-bottom: 0;
}

.menu-selection li:hover {
  background-color: #0073c6;
}
.menu-selection li:hover a {
  color: #ffffff;
}
.menu-selection .dropdown-menu {
  box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  padding: 0;
}
.menu-selection .dropdown-menu li a {
  line-height: 1.26;
  color: #000;
  font-size: 1.4rem;
}
.menu-selection .dropdown-menu li:hover a {
  color: #fff;
}
#header .header-menu li {
  padding: 0 20px 0 0;
}
#header .header-menu li a {
  line-height: 1.26;
  color: #b4c3d3;
  font: 1.6rem "Manrope-Medium";
}
#header .header-menu li a.active {
  color: #0073c6;
}
/*................................................
    6. BODY SECTION
.................................................*/

/*Login form*/
.login-form form {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
}

.login-form form input[type="text"],
.login-form form input[type="password"] {
  font-size: 15px;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
  border: 0;
  outline: none;
}
.login-form .validate-input {
  position: relative;
  width: 100%;
  position: relative;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 30px;
}

.login-form .focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.login-form .focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #fff;
}
.focus-input::after {
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.container-login-form-btn,
.container-login-form-btn .login-form-btn {
  width: 100%;
}
.container-login-form-btn .login-form-btn {
  padding: 10px;
  font-weight: bold;
}
.login-form .login-avatar {
  width: 100px;
  fill: #444444;
  margin-bottom: 15px;
}
.login-form .txt-forgot a {
  font-size: 12px;
}
.ico-user-name {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 0c-74.4 0-135 60.6-135 135s60.6 135 135 135 135-60.6 135-135S330.4 0 256 0z'/%3E%3Cpath d='M478.5 398.7C438.1 338.1 370.6 302 297.8 302h-83.7c-72.7 0-140.3 36.1-180.6 96.7l-2.5 3.8V512h450 0V402.5L478.5 398.7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center left;
  opacity: 0.5;
}
.ico-user-pwd {
  background-image: url("data:image/svg+xml,%3Csvg id='bold' enable-background='new 0 0 24 24' height='512' viewBox='0 0 24 24' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m18.75 9h-.75v-3c0-3.309-2.691-6-6-6s-6 2.691-6 6v3h-.75c-1.24 0-2.25 1.009-2.25 2.25v10.5c0 1.241 1.01 2.25 2.25 2.25h13.5c1.24 0 2.25-1.009 2.25-2.25v-10.5c0-1.241-1.01-2.25-2.25-2.25zm-10.75-3c0-2.206 1.794-4 4-4s4 1.794 4 4v3h-8zm5 10.722v2.278c0 .552-.447 1-1 1s-1-.448-1-1v-2.278c-.595-.347-1-.985-1-1.722 0-1.103.897-2 2-2s2 .897 2 2c0 .737-.405 1.375-1 1.722z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center left;
  opacity: 0.5;
}
.ico-user-email {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M10.688,95.156C80.958,154.667,204.26,259.365,240.5,292.01c4.865,4.406,10.083,6.646,15.5,6.646 c5.406,0,10.615-2.219,15.469-6.604c36.271-32.677,159.573-137.385,229.844-196.896c4.375-3.698,5.042-10.198,1.5-14.719 C494.625,69.99,482.417,64,469.333,64H42.667c-13.083,0-25.292,5.99-33.479,16.438C5.646,84.958,6.313,91.458,10.688,95.156z'/%3E%3Cpath d='M505.813,127.406c-3.781-1.76-8.229-1.146-11.375,1.542C416.51,195.01,317.052,279.688,285.76,307.885 c-17.563,15.854-41.938,15.854-59.542-0.021c-33.354-30.052-145.042-125-208.656-178.917c-3.167-2.688-7.625-3.281-11.375-1.542 C2.417,129.156,0,132.927,0,137.083v268.25C0,428.865,19.135,448,42.667,448h426.667C492.865,448,512,428.865,512,405.333 v-268.25C512,132.927,509.583,129.146,505.813,127.406z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center left;
  opacity: 0.5;
}
.login-form .txt-login {
  font-size: 12px;
}
main {
  padding-top: 10.1rem;
}

/*Employees*/
.circl-span {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #ccc;
}
.lnk-plus {
  display: inline-block;
  padding: 0 0.6rem;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: solid 0.8px #e0e6e9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230073C6' fill-rule='nonzero'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M11.75 6c.414 0 .75.336.75.75V11h4.25c.38 0 .693.282.743.648l.007.102c0 .414-.336.75-.75.75h-4.251l.001 4.25c0 .38-.282.693-.648.743l-.102.007c-.414 0-.75-.336-.75-.75l-.001-4.25H6.75c-.38 0-.693-.282-.743-.648L6 11.75c0-.414.336-.75.75-.75H11V6.75c0-.38.282-.693.648-.743z' transform='translate(-246 -26) translate(16 20) translate(224)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.2rem;
  color: transparent;
  vertical-align: top;
}
.lnk-plus:hover {
  color: transparent;
}
.tab-header .col-md-4 {
  position: absolute;
  right: 0;
  width: auto;
  z-index: 1;
}
.tab-header nav a {
  color: #b4c3d3;
  font: 1.4rem "Manrope-Medium";
  padding-bottom: 1.2rem;
  padding-top: 1.6rem;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
  font-size: 1.4rem;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #e2e8f1;
}
.select.hdr-select {
  height: 24px;
  width: 150px;
  border: 0;
}

.select.hdr-select select {
  font: 1.6rem "Manrope-Medium";
  line-height: 1.26;
  color: #0073c6;
}
select {
  flex: 1;
  padding: 0 1em;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 2.5em 0 1rem;
  background: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cg fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg stroke='%230073C6' stroke-width='1.6'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M8 10L12.063 13.541 16 10' transform='translate(-104 -29) translate(16 20) translate(81)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  background-repeat: no-repeat;
  background-position: center;
  width: 2rem;
  height: 100%;
  background-size: 1rem;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
.border-grey {
  border-color: #cbcbcb;
}
.tab-filter-info {
  padding: 2rem 1rem 0 0;
  background: #fafafa;
  box-shadow: 0 4px 16px 0 #eef3fa;
  background-image: linear-gradient(153deg, #00a6ff 12%, #0073c6 77%);
  color: #fff;
  font-size: 1.4rem;
  border-radius: 0.4rem;
}
.tab-filter-info .row h2 {
  font: 1.8rem "Manrope-Medium";
}
.txt-bold {
  font: 2.4rem Manrope-SemiBold;
}
.txt-bold .txt-small {
  font-size: 1.6rem;
}
.tab-filter-info .row {
  margin-left: 0;
  margin-right: 0;
}
.tab-filter-info .row > div {
  padding-bottom: 2rem;
}

.tab-filter-info .row > div span {
  color: rgba(255, 255, 255, 0.8);
}
.tab-filter-info .main-container {
  background: #f6f7fb;
}
.tab-header .nav-pills .nav-link.active {
  background: #fff;
  border-bottom: 2px solid #31c91e;
  color: #000;
  border-radius: 0;
}
.tab-filter .col-md-4 {
  flex-direction: column;
}
.tab-filter-info .switch input + label::before {
  background-color: transparent;
  border: 1px solid #f6f7fb;
}
.txt-aprov-all {
  color: rgba(255, 255, 255, 0.8);
  margin-right: 1rem;
  white-space: nowrap;
  font-size: 1.2rem;
}
.divider {
  margin: 2rem 0;
  border-color: #ccdae8;
}
.card-list .card {
  padding: 1.5rem;
  border-color: #e2e8f1;
  border-radius: 0.4rem;
}
.card-list .card h2 {
  font: 1.6rem "Manrope-Medium";
  color: #32425f;
  margin-bottom: 0.5rem;
}
.card-list .card h3 {
  font: 1.3rem "Manrope-Medium";
  color: #6b7d9e;
}
.card-list .card .clock-time span {
  color: #66788d;
  font-size: 1.4rem;
  letter-spacing: 0.23px;
}
.card-list .card .clock-time span strong {
  color: #1a2b3a;
  font: 1.4rem Manrope-Medium;
  padding-left: 0.3rem;
}
.card-list .card .clock-time > span {
  /* padding: 0.4rem 0; */
  align-items: center;
  white-space: nowrap;
}
.txt-no-activity {
  color: #66788d;
  font: 1.4rem "Manrope-Medium";
  letter-spacing: 0.23px;
}
.lnk-update {
  font: 1.4rem "Manrope-Medium";
  letter-spacing: 0.23px;
  color: #0073c6;
}
.txt-activity {
  font: 1.2rem Manrope-Medium;
  color: #6b7d9e;
}
.txt-activity i {
  vertical-align: middle;
}

.lnk-hours-list {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cg fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg stroke='%230073C6' stroke-width='1.6'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M8 10L12.063 13.541 16 10' transform='translate(-104 -29) translate(16 20) translate(81)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
  text-decoration: none;
  outline: none;
  display: block;
  height: 3.5rem;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
  background-color: #e9f6ff;
  border-radius: 2px;
}
.card-list .card .open .lnk-hours-list {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256' style='enable-background:new 0 0 256 256;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpolygon fill='%232179eb' stroke='%232179eb' points='128,48.907 0,176.907 30.187,207.093 128,109.28 225.813,207.093 256,176.907 '/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
}
.acivity-view {
  border-top: 1px solid rgba(180, 195, 211, 0.32);
  margin-top: 1.6rem;
  height: 0;
  opacity: 0;
  z-index: -1;
  position: absolute;
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
}
.card-list .card .open .acivity-view {
  height: auto;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 1;
  transform: scaleY(1);
  color: #32425f;
}
.txt-hrs {
  font-size: 1.4rem;
  color: #8999b5;
}
.acivity-view li {
  font-size: 1.4rem;
}
.activity-update-row li {
  width: 100%;
}
.input-increment .input-group {
  height: 100%;
  border: 1px solid #e2e8f1;
  border-radius: 0.6rem;
}
.activity-update-row .select {
  margin-bottom: 0;
}
.input-increment .input-group button,
.input-increment .input-group input {
  border: 0;
  height: 100%;
}
.input-increment .input-group button {
  /* padding: 0 1.5rem; */
}
.input-increment .input-group button strong {
  color: #0073c6;
  font-size: 2rem;
}
.modal-title {
  color: #32425f;
  font: 1.6rem Manrope-Medium;
}
.modal-header {
  border: 0;
  box-shadow: 0 6px 10px 0 rgba(131, 134, 163, 0.12);
  background-color: #ffffff;
  padding: 2.2rem 1.5rem;
}
.modal-header .close {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%232179EB'%3E%3Cg%3E%3Cg%3E%3Cpath d='M13 4c.552 0 1 .448 1 1l-.001 7H21c.552 0 1 .448 1 1s-.448 1-1 1h-7.001L14 21c0 .552-.448 1-1 1s-1-.448-1-1l-.001-7H5c-.552 0-1-.448-1-1s.448-1 1-1h6.999L12 5c0-.552.448-1 1-1z' transform='translate(-278 -19) translate(278 19) rotate(-45 13 13)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  opacity: 1;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: -6px;
}
.ico-add-activity {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill-rule='nonzero'%3E%3Cg%3E%3Cg transform='translate(-16 -272) translate(16 166) translate(0 106)'%3E%3Crect width='29.2' height='29.2' x='.4' y='.4' fill='%23FFF' stroke='%23E0E6E9' stroke-width='.8' rx='6'/%3E%3Cg fill='%232179EB' stroke='%232179EB' stroke-width='.4'%3E%3Cpath d='M17.975 3.313L14.662 0l-3.313 3.313.994.994 1.616-1.617v2.835c0 1.025-.444 1.998-1.218 2.67L9.988 10.58c-.4.347-.739.75-1.006 1.191-.263-.443-.594-.844-.988-1.185l-2.76-2.393c-.774-.67-1.218-1.644-1.218-2.669V2.69l1.616 1.617.994-.994L3.313 0 0 3.313l.994.994L2.61 2.69v2.835c0 1.433.62 2.793 1.704 3.732l2.759 2.392c.755.654 1.19 1.622 1.194 2.654V18h1.406v-3.688c0-1.016.45-1.988 1.236-2.67l2.752-2.385c1.083-.939 1.704-2.299 1.704-3.732V2.69l1.616 1.617.994-.994z' transform='rotate(90 8.5 14.5)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 3rem;
  height: 3rem;
  border: 0;
  outline: none;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}
.modal-footer {
  border: 0;
  padding: 2.2rem 1.5rem;
}
.modal-footer .btn-time {
  margin: 0;
  width: 49%;
}
.date-picker-popup .week-picker {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath fill='%230073C6' fill-rule='nonzero' d='M17.657 3c.426 0 .772.345.772.771V5.07C19.87 5.199 21 6.41 21 7.886V18.17C21 19.734 19.734 21 18.171 21H5.83C4.266 21 3 19.734 3 18.171V7.886C3 6.41 4.13 5.199 5.571 5.069V3.77c0-.426.346-.771.772-.771.426 0 .771.345.771.771v1.286h4.114V3.771c0-.39.29-.713.667-.764L12 3c.426 0 .771.345.771.771v1.286h4.114V3.771c0-.39.29-.713.667-.764zm1.8 8.228H4.542v6.943c0 .71.576 1.286 1.287 1.286H18.17c.71 0 1.286-.575 1.286-1.286v-6.943zM11.987 6.6l-5.632-.001-.012.001h-.514c-.71 0-1.286.576-1.286 1.286l-.001 1.799h14.915v-1.8c0-.71-.575-1.285-1.286-1.285l-.501-.001-.013.001h-.013l-5.631-.001L12 6.6h-.013z' transform='translate(-16 -166) translate(16 160) translate(0 6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-block;
  text-indent: 4rem;
  text-align: left;
}
.day-night-chk {
  width: 16.6rem;
  border-radius: 4px;
  margin-left: auto;
  background-color: #e9f0f4;
}
.day-night-chk input[type="radio"].toggle {
  position: absolute;
  left: -99em;
}
.day-night-chk input[type="radio"].toggle + label span {
  font: 1.3rem/2.3rem "Manrope-Medium";
  letter-spacing: -0.08px;
  height: 100%;
  padding: 3px;
  border: solid 0.5px transparent;
}

.day-night-chk input[type="radio"].toggle + label {
  color: #8999b5;
  border-radius: 4px;
  width: 86px;
  height: 40px;
  border-radius: 4px;
  background-color: #e9f0f4;
  padding: 3px 5px 3px 3px;
}

.day-night-chk input[type="radio"].toggle.checked + label {
  display: inline-block;
  color: #32425f;
  width: 86px;
  height: 40px;
  border-radius: 4px;
  background-color: #e9f0f4;
}
.day-night-chk input[type="radio"].toggle.checked + label span {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.04), 0 3px 8px 0 rgba(0, 0, 0, 0.12);
  border-color: rgba(0, 0, 0, 0.04);
}

.day-night-chk .toggle-container label.night-radio-btn {
  border-left: 0 !important;
  margin-left: -6px;
}

.day-night-chk input[type="radio"].toggle.checked + label .ico-day {
  background-image: url("../images/day-icn.png");
}
.day-night-chk input[type="radio"].toggle.checked + label .ico-night {
  background-image: url("../images/night-icn.png");
}
.day-night-chk input[type="radio"].toggle + label .ico-day {
  background-image: url("../images/day-grey-icn.svg");
}
.day-night-chk input[type="radio"].toggle + label .ico-night {
  background-image: url("../images/night-grey-icn.svg");
}

/* Date picker */
div#ui-datepicker-div {
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 10px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  width: 2.4rem;
  height: 2.4rem;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  cursor: pointer;
  color: transparent;
  outline: none;
}
.ui-datepicker .ui-datepicker-prev span {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg transform='translate(-16 -128) translate(16 128) matrix(-1 0 0 1 24 0)'%3E%3Crect width='23.2' height='23.2' x='.4' y='.4' fill='%23FFF' fill-rule='nonzero' stroke='%23E0E6E9' stroke-width='.8' rx='4'/%3E%3Cpath stroke='%230073C6' stroke-linejoin='round' stroke-width='1.6' d='M8.23 9.63L12.292 13.17 16.23 9.63' transform='matrix(0 1 1 0 .83 -.83)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin-left: 0;
  left: 0;
}
.ui-datepicker .ui-datepicker-next span {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg transform='translate(-280 -128) translate(16 128) translate(264)'%3E%3Crect width='23.2' height='23.2' x='.4' y='.4' fill='%23FFF' fill-rule='nonzero' stroke='%23E0E6E9' stroke-width='.8' rx='4'/%3E%3Cpath stroke='%230073C6' stroke-linejoin='round' stroke-width='1.6' d='M8.37 9.63L12.433 13.17 16.37 9.63' transform='matrix(0 1 1 0 .97 -.97)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ui-datepicker .ui-datepicker-header {
  background: #ffffff;
  border: none;
  padding: 10px;
}

.ui-datepicker .ui-datepicker-title {
  font: 1.6rem "Manrope-Medium";
  color: #32425f;
}

.ui-datepicker th {
  border: 0;
  font: 1.2rem "Manrope-SemiBold";
  letter-spacing: -0.07px;
  color: #a1b5d8;
}

.ui-datepicker td a {
  border: none !important;
  background: none !important;
  font: 1.4rem "Manrope";
  letter-spacing: -0.38px;
  text-align: center;
  color: #32425f !important;
  padding: 8px;
}
.ui-datepicker td.ui-datepicker-other-month a {
  display: none;
}

.ui-datepicker td a.ui-state-highlight {
  background-color: #0073c6 !important;
  border-radius: 50%;
  color: #ffffff !important;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: 0;
  background: none;
}
.week-picker-contactor .week-picker {
}
/*Contactor Tab*/
.spn-contract-date {
  color: #6b7d9e;
  font: 1.3rem "Manrope-Medium";
}
.activity-list.card-list .card .clock-time > span strong {
  color: #8999b5;
}
.date-picker.open .ui-datepicker {
  display: block;
  position: absolute;
  z-index: 2;
}
.date-picker {
  position: relative;
}
div#ui-datepicker-div {
  top: 39px !important;
  left: 0 !important;
  position: absolute !important;
}
/*Custom chkbox*/
.chk-custom input[type="checkbox"] {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.chk-custom label {
  position: relative;
  cursor: pointer;
  color: #384b6b;
  font-size: 1.4rem;
}

.chk-custom label:before {
  content: "";
  -webkit-appearance: none;
  background-color: #fff;
  border: solid 1px #a1b5d8;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 1.4rem;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: -1px;
}
.chk-custom input[type="checkbox"]:checked + label::before {
  border: 1px solid transparent;
}
.chk-custom input[type="checkbox"]:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg transform='translate(-637 -207) translate(635 205) translate(2 2)'%3E%3Ccircle cx='10' cy='10' r='9.318' fill='%230073C6' stroke='%230073C6' stroke-opacity='.15' stroke-width='1.364'/%3E%3Cg stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.6'%3E%3Cpath d='M10 0L3.125 7 0 3.818' transform='translate(5 7)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.week-picker-contactor .chk-custom {
  display: none;
}
.week-picker-contactor.open .chk-custom {
  display: block;
  position: absolute;
  background: #fff;
  padding: 1.6rem;
  z-index: 2;
  width: 100%;
  border-radius: 4px;
  top: 0;
  left: 0;
}
.week-picker-contactor div#ui-datepicker-div {
  /* margin: 0; */
  /* top: 100px !important; */
  padding-top: 65px;
}
.week-picker-contactor .chk-custom label {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.6rem;
}
main.assignment-wrap {
  padding-top: 6rem;
}
.assignment-wrap-save .tab-filter-info {
  border: solid 1px #e2e8f1;
  background-color: #e9f6ff;
  background-image: none;
  color: #6b7d9e;
  font: 2rem Manrope-SemiBold;
}
.assignment-wrap-save .tab-filter-info .row h2 strong {
  font-size: 2rem;
}
.assignment-wrap-save .tab-filter-info .row h2 span {
  font: 1.5rem Manrope;
  color: #6b7d9e;
}
.assignment-wrap-save .chk-custom label:before,
.assignment-wrap-save .chk-custom input[type="checkbox"]:checked + label:after {
  width: 2.4rem;
  height: 2.4rem;
  background-size: 2.4rem;
  margin: 0;
}
.assignment-wrap-save .card-list .card h2 {
  margin-bottom: 0;
}
.assignment-wrap-save .btn-time-assgnmt-save {
  max-width: 8.9rem;
  padding: 0.75rem 1rem;
}
.week-picker-contactor .week-picker::placeholder {
  color: #32425f;
  font-size: 1.4rem;
}
.card-list .card .clock-time > span {
  color: #8999b5;
  font-size: 1.4rem;
}
.activity-list.card-list .card .clock-time > span {
  font-family: "Manrope-SemiBold";
}
.activity-list.card-list .card .clock-time > span strong {
  font-family: "Manrope";
}
.modal .date-picker-popup .week-picker {
  text-indent: 3rem;
}
.activity-update-row .col-2 {
  width: 44px;
  max-width: 44px;
}
.activity-update-row .col-4 {
  width: 150px;
  max-width: 150px;
}
.input-increment .input-group .input-group-prepend button {
  padding-left: 1.5rem;
}
.input-increment .input-group .input-group-append button {
  padding-right: 1.5rem;
}
.activity-update-row .col-6 {
  width: calc(100% - 170px);
  max-width: 100%;
  flex: 1;
}
.txt-aprov-day {
  font-size: 1.4rem;
}
.assignment-wrap-add .tab-filter-info .row h2 {
  font: 2rem/20px "Manrope-SemiBold";
  color: #fff;
}
.assignment-wrap-add .tab-filter-info .row h2 span {
  font-size: 1.4rem;
  color: #fff;
}
.assignment-wrap-add .tab-filter-info .row h2 span:first-child {
  font: 1.5rem "Manrope";
  color: #fff;
}
.assignment-wrap-add .tab-filter-info .row > div {
  padding-right: 6px;
}
.ico-back {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg stroke='%230073C6' stroke-width='1.6'%3E%3Cg%3E%3Cpath d='M14 7L0 7M7 14L0 7 7 0' transform='translate(-554 -56) translate(555 57)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
}
.assignment-wrap-save .tab-filter-info .row h2 {
  font: 1.4rem/20px "Manrope-SemiBold";
  margin-top: 1.6rem;
}
.assignment-wrap-save .tab-filter-info .row h2 strong {
  font: 2rem/20px "Manrope-SemiBold";
}
.txt-company-assnmt {
  color: #8999b5;
  font-size: 1.4rem;
}
.activity-emp-box {
  width: 100%;
}
.calender-popup {
  position: absolute;
  z-index: 2;
  background: #fff;
  top: 42px;
  display: none;
  border-radius: 4px;
  box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.1);
  padding: 1.6rem 1.2rem;
}
.calender-popup.active {
  display: block;
}
.week-picker-contactor .calender-popup .chk-custom {
  display: block;
  padding-bottom: 1rem;
}
.week-picker-contactor .week-picker-contract {
  color: #32425f;
  font: 1.4rem Manrope-Medium;
  padding: 0 2.2rem;
  position: relative;
}
.week-picker-contactor .week-picker-contract:before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23F7F9FC' d='M0 0H24V24H0z' transform='translate(-264 -50) translate(264 50)'/%3E%3Cpath fill='%230073C6' fill-rule='nonzero' d='M17.657 3c.426 0 .772.345.772.771V5.07C19.87 5.199 21 6.41 21 7.886V18.17C21 19.734 19.734 21 18.171 21H5.83C4.266 21 3 19.734 3 18.171V7.886C3 6.41 4.13 5.199 5.571 5.069V3.77c0-.426.346-.771.772-.771.426 0 .771.345.771.771v1.286h4.114V3.771c0-.39.29-.713.667-.764L12 3c.426 0 .771.345.771.771v1.286h4.114V3.771c0-.39.29-.713.667-.764zm1.8 8.228H4.542v6.943c0 .71.576 1.286 1.287 1.286H18.17c.71 0 1.286-.575 1.286-1.286v-6.943zM11.987 6.6l-5.632-.001-.012.001h-.514c-.71 0-1.286.576-1.286 1.286l-.001 1.799h14.915v-1.8c0-.71-.575-1.285-1.286-1.285l-.501-.001-.013.001h-.013l-5.631-.001L12 6.6h-.013z' transform='translate(-264 -50) translate(264 50)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top center;
  letter-spacing: 0.23px;
  width: 24px;
  display: inline-block;
  height: 27px;
  vertical-align: middle;
  margin-right: 8px;
}
.chk-custom {
  color: #384b6b;
  font-size: 1.4rem;
}
#datepicker-contract .ui-widget.ui-widget-content {
  border: 0;
  padding: 0;
}
.chk-box-all .ui-widget.ui-widget-content {
  pointer-events: none;
  opacity: 0.5;
}
.modal .txt-activity {
  white-space: nowrap;
}
.total-hrs-holder .col-md-8 {
  max-width: calc(100% - 200px);
  width: calc(100% - 200px);
  padding-right: 0;
}
.alert-popup.modal .modal-header  {
  box-shadow: none;
}
/*................................................
    8. MEDIA QUERIES
.................................................*/
@media (min-width: 768px) {
  .tab-filter .col-md-4 {
    flex-direction: row;
  }
  .select {
    width: 100%;
  }
  .acivity-view li span.txt-hrs {
    text-indent: 65px;
  }
  .lnk-hours-list.d-md-block {
    position: absolute;
    right: 0;
    width: 26px;
    margin: 0;
    height: 71px;
    top: -15px;
  }
  #pills-contractors .lnk-hours-list.d-md-block {
    height: 60px;
  }
}
@media (max-width: 768px) {
  .sep-md {
    display: block;
    margin-top: -5px;
  }
  .input-increment .input-group button {
    padding: 0 0.3rem;
  }
  .modal-dialog {
    position: relative;
    width: 100%;
    margin: 0;
    pointer-events: none;
    height: 100%;
    max-width: 100%;
  }
  .modal-dialog .modal-content {
    height: 100%;
    border: 0;
  }
  .modal {
    background: #fff;
  }
  .clock-time strong {
    display: block;
    width: 100%;
  }
  .activity-list.card-list .card .clock-time > span {
    align-items: flex-start;
    padding-left: 0;
  }
  .activity-list.card-list .card .clock-time > span strong {
    padding: 0.5rem 0 0;
  }
  div#ui-datepicker-div {
    margin: 0 auto;
    right: 0;
  }
  .txt-company-assnmt {
    margin-top: 8px;
  }
  .calender-popup {
    margin: 0 auto;
    right: 0;
    left: 0;
    max-width: 286px;
  }
  .activity-update-row .col-4,
  .activity-update-row .col-6 {
    padding-right: 10px;
  }
  .input-increment .input-group .input-group-prepend button {
    padding-left: 1rem;
  }
  .input-increment .input-group .input-group-append button {
    padding-right: 1rem;
  }
  .input-increment .input-group .increamenter {
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
  }
  .alert-popup.modal {
    background: none;
  }
  .alert-popup.modal .modal-dialog {
    height: auto;
    width: calc(100% - 30px);
    margin: 0 auto;
  }
}
